<p id="notice"><%= notice %></p>

<h1>Products</h1>

<% if admin_signed_in? %>
  <%= link_to 'Go to admin mode', admins_products_path %>
<% end %>

<br>
<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Primary Image</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td> <% if product.primary_image.attached? %>
                <%= image_tag product.primary_image, class: "img-thumbnail", style: "max-height: 10rem;"%> 
                  <% end %>
        </td>
        <td><%= product.title %></td>
        <td><%= link_to 'Show', home_path(product) %></td>
        <td>
          <%= link_to new_order_path, class: "btn btn-info btn-lg" do  %>
            <span class="glyphicon glyphicon-shopping-cart"></span> BUY
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<br>


